@import url(https://fonts.googleapis.com/css?family=Roboto:100);
:root {
  --text-color: #f00;
  --border-color: #3da7f8;
  --animation-time: 1s;
  --text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px var(--text-color),
    0 0 10px var(--text-color), 0 0 10px var(--text-color),
    0 0 10px var(--text-color), 0 0 10px var(--text-color),
    0 0 20px var(--text-color), 0 0 30px var(--text-color),
    0 0 40px var(--text-color), 0 0 55px var(--text-color),
    0 0 75px var(--text-color);
  --box-shadow: inset 0 0 50px var(--border-color), 0 0 10px var(--border-color),
    0 0 20px var(--border-color), 0 0 30px var(--border-color); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0px;
  background: #00061c;
  height: 100vh; }

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80vw, 1fr));
  grid-template-rows: 1fr 1fr;
  justify-items: center; }

.footer {
  font-size: 2rem;
  width: 100%;
  padding: 8rem;
  background-color: #010413;
  height: 100%; }
  .footer__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem; }
  .footer__items {
    list-style: none; }
    .footer__items a:link,
    .footer__items a:visited {
      font-family: "Nunito", sans-serif;
      font-size: 1.4rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem;
      display: block;
      transition: all 0.2s; }
    .footer__items a:hover,
    .footer__items a:active {
      background-color: rgba(255, 255, 255, 0.05);
      transform: translateY(-3px); }
  .footer .copyright {
    font-size: 1.4rem;
    color: #aaa;
    margin: 0 auto;
    margin-top: 6rem;
    text-align: center;
    width: 60%; }
    .footer .copyright a:link,
    .footer .copyright a:visited {
      font-family: "Nunito", sans-serif;
      font-size: 1.4rem;
      color: #f9f7f6;
      text-decoration: none;
      transition: all 0.2s; }
    .footer .copyright a:hover,
    .footer .copyright a:active {
      background-color: rgba(255, 255, 255, 0.05);
      transform: translateY(-3px); }

.main-container {
  display: grid;
  align-items: center;
  justify-items: center; }

.main {
  align-self: center;
  background-color: transparent;
  border: 3rem solid rgba(255, 255, 255, 0.33);
  border-radius: 2rem;
  padding: 1.4rem 2.4rem;
  transform: rotate(-6deg);
  animation: turnOnBorder 0.24s forwards step-end, flickerBorder calc(var(--animation-time) * 16) infinite step-end 1s; }

p {
  font-family: Roboto;
  margin: 0;
  color: #fff; }

span {
  font-size: 10rem; }

p span {
  opacity: 0.33;
  animation: turnOn forwards step-end; }

/* p span:nth-child(1) {
    animation-delay: 0.3s;
  }
  
  p span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  p span:nth-child(3) {
    animation-delay: 0.4s;
  } */
p span:nth-child(1) {
  animation: turnOn 0.27s forwards step-end, flicker var(--animation-time) infinite step-end 1s; }

p span:nth-child(5) {
  animation-delay: 0.4s; }

p span:nth-child(3) {
  animation: turnOn 0.5s forwards step-end, flicker var(--animation-time) infinite step-end 2s; }

@keyframes turnOnBorder {
  100% {
    border: 3px solid #fff;
    box-shadow: var(--box-shadow);
    opacity: 1; } }

@keyframes turnOn {
  100% {
    text-shadow: var(--text-shadow);
    opacity: 1; } }

@keyframes flicker {
  0% {
    text-shadow: var(--text-shadow); }
  99% {
    text-shadow: none; } }

@keyframes flickerBorder {
  0% {
    box-shadow: var(--box-shadow); }
  99% {
    box-shadow: none; } }
